.header {
  background: #232946;
  color: #eebbc3;
  padding: 0.5rem 0;
  box-shadow: 0 2px 8px rgba(20, 20, 40, 0.25);
}
.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: center;
}
.list {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.item {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 2px solid #eebbc3;
  background: #041f08;      /* Color claro, diferente al header */
  color: #eebbc3;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
}
.item:hover {
  background: #eebbc3;
  color: #5769c0;
  border-color: #393e6e;
}
.active {
  background: #eebbc3;
  color: #397c32;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(238, 187, 195, 0.15);
  border-color: #393e6e;
}
.logout {
  color: #eebbc3;
  font-weight: 600;
  cursor: pointer;
  background: rgb(72, 27, 27);
  border: 1px solid #eebbc3;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: background 0.2s, color 0.2s;
}
.logout:hover {
  background: #393e6e;
  color: #5f0b0b;
  border: 2px solid #eebbc3;
}
.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}
.categoryItem {
  background-color: #7373d4; /* Color claro, diferente al header */
  color: #232946;
  border-color: #eebbc3;
}
.categoryItem:hover {
  background-color: #eebbc3;
  color: #232946;
  border-color: #393e6e;
}
.categoryItem.active {
  background: #eebbc3;
  color: #232946;
  font-weight: bold;
  box-shadow: 0 2px 8px #393e6e;
  border-color: #393e6e;
}
.userItem {
  background-color: #f4f4fb; /* Color claro, diferente al header */
  color: #232946;
  border-color: #eebbc3;
}
.userItem:hover {
  background-color: #eebbc3;
  color: #232946;
  border-color: #393e6e;
}
.userItem.active {
  background: #eebbc3;
  color: #232946;
  font-weight: bold;
  box-shadow: 0 2px 8px #393e6e;
  border-color: #393e6e;
}

.dropdown {
  position:relative;
  display: inline-block;  
  padding: 0.5rem 1rem;  
  border-radius: 6px;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #232946;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #393e6e;
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown:hover .dropdownContent {
  display: block;
}
