.header {
  background: #660c6d;
  color: #a2ef8d;
  padding: 1.5rem 0;
  box-shadow: 0 2px 8px rgba(203, 146, 227, 0.07);
}
.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: center;
}
.list {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.item {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 2px solid ;
  transition: background 0.8s, color 0.2s;
}
.item:hover {
  background: #673a8c;
  color: #88c0d0;
}
.active {
  background: #c1f0b4;
  color: #7830eb;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(203, 146, 227, 0.15);
}
.logout {
  color: #be6866;
  font-weight: 600;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: background 0.2s, color 0.2s;
}
.logout:hover {
  background: #fbe9e7;
  color: #e61515;
}
.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}
